# Python ka chilla with baba ammar
## How to use jupyter notebook
### Basics of python
**01- My first program**

In [1]:
# My first code in jupyter
print(2+3)
print("Hello World")
print("I am learning python")

5
Hello World
I am learning python

**02- operators**

In [2]:
print(2+2)
print(3-2)
print(2*3)
print(6/3)
print(13%2)
print(6//2)
print(2**3)

print(3**2/2*3/3+6-4)

4
1
6
2.0
1
3
8
6.5

*PEMDAS
Parenthesis, Exponents, Multiply, Divide, Addition, Subtraction
Multiplication and division runs from left to right
Addition and subtraction runs from left to right*

**03- Strings**

In [3]:
print("Hello World")
print("I am learning python")
print('Test for single quotes')
print("Test for single quotes")
print('''Test for single quotes''')
print(" What's up ?")
print("Salahuddin_strings_clear")

Hello World
I am learning python
Test for single quotes
Test for single quotes
Test for single quotes
 What's up ?
Salahuddin_strings_clear

**04- Comments in python**

the shortcut key to comments is **ctrl+/**

In [4]:
print("How are you?")
print("We are learning phyton with aammar") # print a string
print(2+3) #print an operator function with numbers

How are you?
We are learning phyton with aammar
5

**05- Variables**

In [5]:
#Variables: objects containing specific values
x = 5 #Numeric variable
print(x)

y = "We are learning python with Ammar" #string variable
print(y)

x= x+15
print(x)

#Types of variables
print(type(x))
print(type(y))

# Rules to assign a variable
# 1- Number

fruit_basket = "Mangoes , oranges"

print(fruit_basket)

del fruit_basket

5
We are learning python with Ammar
20
<class 'int'>
<class 'str'>
Mangoes , oranges

**06- Input variables**

In [6]:
# fruit_basket = "Mangoes"
# #input function
# fruit_basket=input("Which is you favourite fruit? ")
# print(fruit_basket)

# #input second stage
# name=input("What's your name? ")
# greetings="Hello!"
# print(greetings, name)

#input second stage
name=input("What's your name? ")

print("Hello!", name)

What's your name? Salahuddin
Hello! Salahuddin

**07- Conditional logics**

In [7]:
# Equal to ==
# Not equal to !=
# Less than <
# Greater than >
# less than and equal to <=
# greater than and equal to >=
#Is 4 equal to 4
print(4==4)
print(4!=4)
print(3<=4)
print(5>=4)

Salah_age=input("How old is Salah? ")
age_at_school = 5
Salah_age=int(Salah_age)
print(Salah_age>=age_at_school)

True
False
True
True
How old is Salah? 5
True

**08- Conversions**

In [8]:
x = 10
y = 10.2
z="Hello"
print(x,y,z)
#Implicit type conversion
x = x+y
print(type(x))
#explicit type conversion
age=input("What's your age? ")
print(age, type(float(age)))

10 10.2 Hello
<class 'float'>
What's your age? 20
20 <class 'float'>

**09- if else elif**

In [9]:
reqiured_age_at_school = 5
hammad_age = 8
# question: can hammad go to school

if hammad_age==reqiured_age_at_school:
    print("Hammad can join the school")

elif hammad_age> reqiured_age_at_school:
    print("Hammad should join higher secondary school")
else:
    print("Hammad cannot join the school")

Hammad should join higher secondary school

**10- Functions**

In [10]:
print("We are babies")

#defining a fuction
def print_codanics(text):
    print(text)
    print(text)
    print(text)


print_codanics("SALAHuddin")

We are babies
SALAHuddin
SALAHuddin
SALAHuddin

**11- Loops**

In [11]:
#While and For loop
#While loops
x=0
while(x<=5):
    print(x)
    x=x+1

for x in range(5,10):
    print(x)

#Erray
days =["Mon", "Tue","Wed", "Thu","Fri","Sat","Sun"]
for d in days:
    # if (d=="Fri"):break #loop stops
    if (d=="Fri"):continue #loop skips
    print(d)

0
1
2
3
4
5
5
6
7
8
9
Mon
Tue
Wed
Thu
Sat
Sun

**12- Import libraries**

In [12]:
#if you want to print the value of pi
import math
print("the value of pi is: ",math.pi)

import statistics
x= [150,250,350,450]
print(statistics.mean(x))

# Some important liberaries
# numpy, pandas

the value of pi is:  3.141592653589793
300

**13- Trouble shooting**

In [13]:
#print(We are learning python) #Syntax error

# print(25/0) # runtime error

name = "Ammar"
print("Hello name") # semantic error

Hello name